# Set default behavior to automatically normalize line endings.
* text=auto

# *Nix scripts.
*.bash text eol=lf
*.csh text eol=lf
*.sh text eol=lf

# Windows scripts.
*.bat text eol=crlf
*.ps1 text eol=crlf

# Executable/Library files.
*.a binary
*.dll binary
*.dylib binary
*.exe binary
*.lib binary
*.pyc binary
*.so binary

# Image files.
*.ai binary
*.bmp binary
*.eps binary
*.gif binary
*.ico binary
*.jar binary
*.jng binary
*.jp2 binary
*.jpeg binary
*.jpg binary
*.jpx binary
*.jxr binary
*.png binary
*.psd binary
*.svgz binary
*.tif binary
*.tiff binary
*.wbmp binary
*.webp binary

# Archives
*.7z binary
*.rar binary
*.tar binary
*.tar.gz binary
*.tgz binary
*.zip binary

# Fonts
*.eot binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

# Audio
*.kar binary
*.m4a binary
*.mid binary
*.midi binary
*.mp3 binary
*.ogg binary
*.ra binary

# Video
*.3gpp binary
*.3gp binary
*.as binary
*.asf binary
*.asx binary
*.fla binary
*.flv binary
*.m4v binary
*.mng binary
*.mov binary
*.mp4 binary
*.mpeg binary
*.mpg binary
*.ogv binary
*.swc binary
*.swf binary
*.webm binary

# Documents
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
